h2.heading { 
    color: #0000ff;
    font-family:serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li {
    float: left;
    border-right: 1px solid #555;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: rgb(41, 172, 41);
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.about-link {
    background-color: chartreuse;
}

* {
   box-sizing: border-box; 
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


input[type=text], select , textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=date] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive - when screen size is less than 600px, make two columns display on top of each other   */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}